.font_title {
    color: #2B21C0;
    font-size: 6rem;
    text-align: center;
    margin-top: 10rem;
}

.font_primary {
    color: #6666FF;
}

.font_primary_light {
    color: #6666FF;
    font-weight: 350;
    font-size: 1.8rem;
}

.font_secondary {
    color: #f8f9fa;
    text-decoration: none;
}

.font_secondary_bold {
    color: #f8f9fa;
    font-weight: bolder;
}

.spinner_size {
    margin-top: 3rem;
    /* margin-bottom: 2rem; */
    width: 7rem;
    height: 7rem;
}

.bg_primary_low_opacity {
    background: rgba(102, 102, 255, 0.6);
}

.bg_start_img {
    background: url("../img/scenes/start_scene.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bg_start_hex {
    width: fit-content;
}

.green_student {
    height: 33rem;
}

.female_start_student {
    height: 30rem;
}

.btn_start {
    background: #6666FF;
    color: #f8f9fa;
    margin-bottom: 10rem;
    width: 10rem;
    height: 4rem;
}

.bg_loading_img {
    background: url("../img/scenes/bg-loading.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bg_principal_img {
    background: url("../img/scenes/bg-principal-menu.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.btn_start:hover {
    background: #f8f9fa;
    color: #6666FF;
}

.btn_active {
    background: #f8f9fa;
    border: none;
    width: fit-content;
    border-radius: 5%;
}

.hear_section {
    padding-left: 7rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.watch_section {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.selection_card {
    background: rgba(102, 102, 255, 0.6);
    height: 40rem;
    width: 30rem;
    border-radius: 1.5rem;
}

.selection_img {
    size: 3rem;
}

.btn_selection {
    background: #6666FF;
    color: #f8f9fa;
    width: 10rem;
    height: 3rem;
}

.btn_selection:hover {
    background: #f8f9fa;
    color: #6666FF;
}

.btn_selection_selected {
    background: #f8f9fa;
    color: #6666ff;
    width: 10rem;
    height: 3rem;
}

.menu_card {
    background: rgba(102, 102, 255, 0.6);
    height: 95%;
}

.menu_shape_btn {
    background: none;
    border: none;
    width: fit-content;
}

.menu_shape_btn:hover {
    background: rgba(248, 249, 250, 0.2);
    border-radius: 5%;
}

.superior_menucard_row {
    margin-top: 4rem;
    margin-bottom: 13rem;
}

/* .hexagono {
    animation: hex infinite;
} */

.list_container {
    width: 22rem;
    height: 2.5rem;
    overflow: hidden;
}

.list_container>ul {
    list-style: none;
    height: 100%;
    /* width: 100%; */
}

.list_container>ul>li {
    text-align: center;
}

@keyframes hex {
    0% {
        transform: rotate(45deg);

    }

    50% {
        transform: rotate(90deg);
    }
}