{% extends 'layout.html' %}

{% block title %}
Escucha
{{ super() }}
{% endblock %}

{% block content%}
<div class="container-fluid bg_principal_img vw-100 vh-100">
    <div class="row">
        <div class="col-4 vh-100">
            <div class="card d-flex menu_card m-3">
                <div class="row d-flex flex-column align-items-center superior_menucard_row">
                    <button class="btn btn_selection mb-1" id="btnGrabar">Iniciar Grabación</button>
                    <button class="btn btn_selection mb-1" id="btnDetener">Detener Grabación</button>
                    <!-- <button class="btn btn_selection mb-1" id="btnTraducir">Traducir</button> -->
                    <audio class="mt-1 p-3" id="grabacion"></audio>
                    <p class="text-center font_secondary_bold mt-2" id="texto">Habla fuerte y claro <br> para que
                        podamos
                        escucharte</p>

                </div>
                <div class="row d-flex flex-column align-items-center">
                    <a href="{{ url_for('ver') }}" class="text-center">
                        <button class="btn btn_selection mb-3">
                            Ver
                        </button>
                    </a>
                    <a href="{{ url_for('menuPrincipal') }}" class="text-center">
                        <button class="btn btn_selection mb-3">
                            Salir
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card menu_card m-3 d-flex justify-content-center font_secondary_bold" id="audio">
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename = '../static/js/kayi-utils-audio.js') }}"></script>

{% endblock %}