{% extends 'layout.html' %}

{% block title %}
Escucha
{{ super() }}
{% endblock %}

{% block content%}
<div class="container-fluid bg_principal_img vw-100 vh-100">
    <div class="row">
        <div class="col-4 vh-100">
            <div class="card d-flex menu_card m-3">
                <div class="row d-flex flex-column align-items-center superior_menucard_row">
                    <button class="btn btn_selection mb-1" id="btnGrabar">Reconocer voz</button>
                    <button class="btn btn_selection mb-1" id="btnDetener">Traducir</button>
                    <!-- <button class="btn btn_selection mb-1" id="btnTraducir">Traducir</button> -->
                    <!-- <audio class="mt-1 p-3" id="grabacion"></audio> -->
                    <div class="mb-2">
                        <label for="texto" class="form-label text-center font_secondary_bold">Habla fuerte y claro para
                            que podamos escucharte</label>
                        <textarea class="form-control p-2" id="texto" rows="3"></textarea>
                    </div>

                </div>
                <div class="row d-flex flex-column align-items-center">
                    <a href="{{ url_for('ver') }}" class="text-center">
                        <button class="btn btn_selection mb-3">
                            Ver
                        </button>
                    </a>
                    <a href="{{ url_for('menuPrincipal') }}" class="text-center">
                        <button class="btn btn_selection mb-3">
                            Salir
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card menu_card m-3 d-flex justify-content-center font_secondary_bold" id="video">
                <!-- <video src=""></video> -->
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename = '../static/js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename = '../static/js/kayi-utils-audio.js') }}"></script>
<!-- <script src="{{ url_for('static', filename = '../static/js/kayi-utils-pruebas.js') }}"></script> -->
{% endblock %}