{% extends 'layout.html' %}

{% block title %}
Menu Principal
{{ super() }}
{% endblock %}

{% block content%}
<div class="container-fluid bg_principal_img py-5 px-5">
    <div class="row">
        <div class="col-6 hear_section">
            <div class="card selection_card d-flex p-5">
                <img src="{{ url_for('static', filename = '../static/img/shapes/mic.png') }}" class="selection_img">
                <a href="{{ url_for('escucha') }}" class="text-center mt-5">
                    <button class="btn btn_selection mb-3">
                        Escuchar
                    </button>
                </a>
            </div>
        </div>
        <div class="col-6 watch_section">
            <div class="card selection_card d-flex p-5">
                <img src="{{ url_for('static', filename = '../static/img/shapes/camera.png') }}" class="selection_img">
                <a href="{{ url_for('ver') }}" class="text-center mt-5">
                    <button class="btn btn_selection mb-3">
                        Ver
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}