{% extends 'layout.html' %}

{% block title %}
Ver
{{ super() }}
{% endblock %}

{% block content%}
<div class="container-fluid bg_principal_img vw-100 vh-100">
    <div class="row">
        <div class="col-4 vh-100">
            <div class="card d-flex menu_card m-3">
                <div class="row d-flex flex-column align-items-center superior_menucard_row">
                    <button class="btn btn_selection mb-1" id="btnDeletrear" onclick="deletrear()">Deletrear</button>
                    <button class="btn btn_selection mb-1" id="btnSenar" onclick="senar()">Señar</button>
                    <p class="text-center font_secondary_bold">Presiona un botón para iniciar...</p>
                </div>
                <div class="row d-flex flex-column align-items-center">
                    <a href="{{ url_for('escucha') }}" class="text-center">
                        <button class="btn btn_selection mb-3">
                            Escuchar
                        </button>
                    </a>
                    <a href="{{ url_for('menuPrincipal') }}" class="text-center">
                        <button class="btn btn_selection mb-3">
                            Salir
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card menu_card m-3 d-flex justify-content-center font_secondary_bold" id="cam-content">
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename = '../static/js/kayi-utils-cam.js') }}"></script>

{% endblock %}